---
import "../styles/global.css"
import BaseLayout from "../layouts/BaseLayout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
const title = "About"
---
<BaseLayout pageTitle={title}>
	<Header/>
	<main>
		<h2>About Us</h2>
		<p>This is the about page where you can learn more about our website.</p>
		<dvi class="content">
			
		</dvi>
	</main>
	<Footer />
</BaseLayout>

</html>

<style>
	main{
		margin: 10px auto;
		padding: 20px;
		background-color: white;
		width: 800px;
		border-radius: 8px;
		box-shadow: 0 0 10px gray;
		
	}
	.content{
		width: 500px;
		height: 300px;
		background-color: blue;
	}
	
</style>
