<footer>
    <div>
        <p>© 2024 My Astro Website. All rights reserved.</p>
    </div>
</footer>

<style>
    footer{
        position: sticky;
        top: 100vh;
    }
    div{
        width: 100%;
        background-color: #393939;
        color: white;
        text-align: center;
    }
    p{
		padding: 10px 0;
	}
</style>