<header>
    <nav>
        <ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
		</ul>
    </nav>
</header>

<style>
	header{
		width: 100%;
		display: flex;
		justify-content: center;
		background-color: #393939;
	}
	ul{
		list-style-type: none;
		display: flex;
        justify-content: space-between;
	}
    li{
		margin: 0 10px;
    }
	a{
		color: white;
		text-decoration: none;
		padding: 10px;
	}
	a:hover{
		background-color: #777777;
		border-radius: 8px;
	}
</style>